---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?limit=10&title=New%20York,CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.247 TT 0 0.258"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 360,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_key": [
                        "OL13968354A"
                    ],
                    "author_name": [
                        "New York Co-operative Society"
                    ],
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 1,
                    "edition_key": [
                        "OL52916214M"
                    ],
                    "first_publish_year": 1980,
                    "has_fulltext": false,
                    "key": "/works/OL38863580W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1722195543,
                    "oclc": [
                        "152426055"
                    ],
                    "public_scan_b": false,
                    "publish_date": [
                        "1980"
                    ],
                    "publish_place": [
                        "New York?]"
                    ],
                    "publish_year": [
                        1980
                    ],
                    "publisher": [
                        "publisher not identified"
                    ],
                    "seed": [
                        "/books/OL52916214M",
                        "/works/OL38863580W",
                        "/authors/OL13968354A",
                        "/subjects/cooperative_societies",
                        "/subjects/new_york_co-operative_society",
                        "/subjects/place:new_york_(state)",
                        "/subjects/place:new_york"
                    ],
                    "title": "The New York Co-operative Society",
                    "title_sort": "The New York Co-operative Society",
                    "title_suggest": "The New York Co-operative Society",
                    "type": "work",
                    "subject": [
                        "Cooperative societies",
                        "New York Co-operative Society"
                    ],
                    "place": [
                        "New York (State)",
                        "New York"
                    ],
                    "readinglog_count": 0,
                    "want_to_read_count": 0,
                    "currently_reading_count": 0,
                    "already_read_count": 0,
                    "publisher_facet": [
                        "publisher not identified"
                    ],
                    "place_key": [
                        "new_york",
                        "new_york_(state)"
                    ],
                    "subject_facet": [
                        "Cooperative societies",
                        "New York Co-operative Society"
                    ],
                    "_version_": 1805852918594666496,
                    "place_facet": [
                        "New York",
                        "New York (State)"
                    ],
                    "author_facet": [
                        "OL13968354A New York Co-operative Society"
                    ],
                    "subject_key": [
                        "cooperative_societies",
                        "new_york_co-operative_society"
                    ]
                },
                {
                    "author_key": [
                        "OL228219A"
                    ],
                    "author_name": [
                        "Sylvia Shapiro"
                    ],
                    "cover_edition_key": "OL9590058M",
                    "cover_i": 180645,
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 2,
                    "edition_key": [
                        "OL9590058M",
                        "OL34864463M"
                    ],
                    "first_publish_year": 2005,
                    "first_sentence": [
                        "It's amazing what unexpected consequences an unintended book can have. "
                    ],
                    "format": [
                        "Paperback"
                    ],
                    "has_fulltext": false,
                    "isbn": [
                        "9780312340759",
                        "1466861517",
                        "9781466861510",
                        "0312340753"
                    ],
                    "key": "/works/OL1906384W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1699405592,
                    "lcc": [
                        "HD-7287.72000000.U6 S49 2005",
                        "HD-7287.72000000.U6S49 2005"
                    ],
                    "lccn": [
                        "2004066058"
                    ],
                    "number_of_pages_median": 368,
                    "oclc": [
                        "57352841"
                    ],
                    "public_scan_b": false,
                    "publish_date": [
                        "2013",
                        "April 14, 2005"
                    ],
                    "publish_year": [
                        2013,
                        2005
                    ],
                    "publisher": [
                        "St. Martin's Press",
                        "St. Martin's Griffin"
                    ],
                    "seed": [
                        "/books/OL9590058M",
                        "/books/OL34864463M",
                        "/works/OL1906384W",
                        "/authors/OL228219A",
                        "/subjects/apartment_houses_cooperative",
                        "/subjects/condominiums",
                        "/subjects/cooperative_apartment_houses"
                    ],
                    "title": "The New York Co-op Bible: Everything You Need to Know About Co-ops and Condos",
                    "title_suggest": "The New York Co-op Bible: Everything You Need to Know About Co-ops and Condos",
                    "title_sort": "The New York Co-op Bible: Everything You Need to Know About Co-ops and Condos",
                    "type": "work",
                    "id_goodreads": [
                        "1053998"
                    ],
                    "id_librarything": [
                        "2000897"
                    ],
                    "subject": [
                        "Apartment houses, cooperative",
                        "Condominiums",
                        "Cooperative Apartment houses"
                    ],
                    "readinglog_count": 1,
                    "want_to_read_count": 1,
                    "currently_reading_count": 0,
                    "already_read_count": 0,
                    "publisher_facet": [
                        "St. Martin's Griffin",
                        "St. Martin's Press"
                    ],
                    "subject_facet": [
                        "Apartment houses, cooperative",
                        "Condominiums",
                        "Cooperative Apartment houses"
                    ],
                    "_version_": 1795869372689940481,
                    "lcc_sort": "HD-7287.72000000.U6 S49 2005",
                    "author_facet": [
                        "OL228219A Sylvia Shapiro"
                    ],
                    "subject_key": [
                        "apartment_houses_cooperative",
                        "condominiums",
                        "cooperative_apartment_houses"
                    ]
                },
                {
                    "author_key": [
                        "OL7218494A"
                    ],
                    "author_name": [
                        "Abercrombie & Fitch"
                    ],
                    "cover_edition_key": "OL33053953M",
                    "cover_i": 11755768,
                    "ebook_access": "public",
                    "ebook_count_i": 1,
                    "edition_count": 3,
                    "edition_key": [
                        "OL33053953M",
                        "OL46239528M",
                        "OL46262252M"
                    ],
                    "first_publish_year": 1916,
                    "has_fulltext": true,
                    "ia": [
                        "abercrombiefitch00aber_0"
                    ],
                    "ia_collection": [
                        "ColumbiaUniversityLibraries",
                        "americana",
                        "durstoldyorklibrary"
                    ],
                    "ia_collection_s": "ColumbiaUniversityLibraries;americana;durstoldyorklibrary",
                    "isbn": [
                        "9781014960283",
                        "1014960282",
                        "9781013773617",
                        "1013773616"
                    ],
                    "key": "/works/OL24867385W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1673978487,
                    "lending_edition_s": "OL33053953M",
                    "lending_identifier_s": "abercrombiefitch00aber_0",
                    "number_of_pages_median": 29,
                    "public_scan_b": true,
                    "publish_date": [
                        "2021",
                        "1916"
                    ],
                    "publish_place": [
                        "New York"
                    ],
                    "publish_year": [
                        1916,
                        2021
                    ],
                    "publisher": [
  [...]
