---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=5&key=weather_key&q=40.01574,-105.27924
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999987'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/04/2024 17:46:22'
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 7712126acd526438e32ec1351fdd811e
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Boulder","region":"Colorado","country":"United
        States of America","lat":40.02,"lon":-105.28,"tz_id":"America/Denver","localtime_epoch":1722793492,"localtime":"2024-08-04
        11:44"},"current":{"last_updated":"2024-08-04 11:30","temp_f":87.6,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"},"humidity":16,"feelslike_f":84.0,"vis_miles":6.0,"uv":8.0},"forecast":{"forecastday":[{"date":"2024-08-04","day":{"maxtemp_f":94.1,"mintemp_f":67.8,"avgtemp_f":78.3,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"}},"astro":{"sunrise":"06:03
        AM","sunset":"08:11 PM"},"hour":[{"time":"2024-08-04 00:00","temp_f":70.2,"condition":{"text":"Clear
        ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2024-08-04
        01:00","temp_f":69.9,"condition":{"text":"Overcast ","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png"}},{"time":"2024-08-04
        02:00","temp_f":69.5,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2024-08-04
        03:00","temp_f":68.8,"condition":{"text":"Clear ","icon":"//cdn[...]
